/*General styles*/

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    border: none;
}

    
/*Search*/
.search {
    width: 100%;
   text-align: center;
    padding: 30px 0;
    background-color:cornflowerblue;

        .search_selects {
            margin-top: 10px;
        
            label {
                margin-right: 10px;
            }
            label:not(:first-child) {
                margin-left: 10px;
            }
            select:first-child {
                margin-right: 10px;
            }
        }
}

/*Books*/

.books{
    display: flex;
    flex-flow: column wrap;
}

.cards li {
    list-style-type: none;
    display: inline-block;
}

/*Book*/
// .book__wrapper{
//     display: flex;
//     flex-flow: column wrap;
// }
